<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <h1>Welcome to ANA Link's Node Server</h1>
    <h2>This site will only be used for a test purpose and deleted soon.</h2>
  </body>
</html>
